[connection]
id={{ wifi_ssid }}
uuid=a9064ab4-e5fc-49d7-bb6d-8a6073c0e757
type=wifi

[wifi]
ssid={{ wifi_ssid }}
security=802-11-wireless-security

[wifi-security]
key-mgmt=wpa-psk
psk={{ wifi_passwd }}

[ipv4]
method=auto

[ipv6]
method=auto
