[Unit]
Description=Start Git Daemon

[Service]
ExecStart=/usr/bin/git daemon --reuseaddr --export-all --base-path={{ repo_dir }}

Restart=always
RestartSec=500ms

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=git-daemon

User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target
