- name: install dynamic configuration for networkd
  copy:
    src: 10-dhcp.network
    dest: /etc/systemd/network/10-dhcp.network
  notify: "enable systemd-networkd"

#- name: install static configuration for networkd
#  template:
#    src: 20-static.network.j2
#    dest: /etc/systemd/network/20-static.network
#  notify: "enable systemd-networkd"

- name: prepare systemd-resolved
  file:
    src: /run/systemd/resolve/resolv.conf
    dest: /etc/resolv.conf
    state: link
    force: yes
  notify: "enable systemd-resolved"
