- name: kerberize sshd server
  lineinfile:
    dest: /etc/ssh/sshd_config
    line: "GSSAPIAuthentication yes"
    insertafter: "#GSSAPIAuthentication no"
  notify: "reload sshd"

- name: kerberize ssh client, authenticate
  lineinfile:
    dest: /etc/ssh/ssh_config
    line: "GSSAPIAuthentication yes"
    insertafter: "#   GSSAPIAuthentication no"

- name: kerberize ssh client, delegate credentials
  lineinfile:
    dest: /etc/ssh/ssh_config
    line: "GSSAPIDelegateCredentials yes"
    insertafter: "#   GSSAPIDelegateCredentials no"
