- name: install apt-cacher-ng package
  apt:
    name: apt-cacher-ng
    state: latest

- name: enable apt-cacher-ng for localhost
  copy:
    src: apt.conf
    dest: /etc/apt/apt.conf
    force: no
  notify: "start apt-cacher-ng"
  when: not run_in_installer|default(false)|bool  ## do not enable apt-cacher during installation


- name: check if preseeded installer is available
  stat: path={{ tftp_root }}/d-i/{{ di_dist }}/preseed.cfg
  register: preseedcfg

- name: enable apt-cacher-ng for install-clients
  replace:
    dest: "{{ tftp_root }}/d-i/{{ di_dist }}/preseed.cfg"
    regexp: '^d-i mirror/http/proxy string$'
    replace: 'd-i mirror/http/proxy string http://{{ ansible_hostname }}:3142/'
  when: preseedcfg.stat.exists

- name: allow apt-cacher-ng service in firewalld
  firewalld:
    zone: internal
    port: 3142/tcp
    permanent: yes
    immediate: yes
    state: enabled
  when: not run_in_installer|default(false)|bool

- name: allow apt-cacher-ng service in firewalld, offline
  command: "firewall-offline-cmd --zone=internal --add-port=3142/tcp"
  when: run_in_installer|default(false)|bool


- meta: flush_handlers
