- name: check if dnsmasq is already there
  stat: path=/etc/dnsmasq.d/dnsmasq-dhcp
  register: dnsmasq

- name: install dnsmasq package
  apt:
    name:
      - dnsmasq
      - resolvconf
    state: latest

- name: configure dnsmasq
  template:
    src: dnsmasq-dhcp.j2
    dest: /etc/dnsmasq.d/dnsmasq-dhcp
  notify: "restart dnsmasq"
