- name: install di-netboot-assistant and installer package
  apt:
    name:
      - di-netboot-assistant
      - "{{ di_pkg }}"
  notify:
    - bind mount images
    - rebuild di-netboot-assistant menu

- name: configure dnsmasq
  template:
    src: dnsmasq-tftp-netboot-installer.j2
    dest: /etc/dnsmasq.d/tftp-netboot-installer
  notify:
    - restart dnsmasq
    - rebuild di-netboot-assistant menu
