#- name: gnome hibernate by default
#  apt: name=gnome-shell-extension-suspend-button state=latest

- name: gnome desktop
  apt:
    name:
      - task-gnome-desktop
      - gnome-shell-extension-desktop-icons
      - cups
    state: latest

- name: make sure /etc/dconf/profile/ exists
  file: path=/etc/dconf/profile/ state=directory recurse=yes

- name: prepare for gnome customized defaults
  copy:
    src: user
    dest: /etc/dconf/profile/user
  notify: update dconf

- name: make sure /etc/dconf/db/local.d/ exists
  file: path=/etc/dconf/db/local.d/ state=directory recurse=yes

- name: modify gnome defaults
  copy:
    src: defaults
    dest: /etc/dconf/db/local.d/defaults
  notify: update dconf

## Bug #698504
- name: allow print job management
  replace:
    dest: "/etc/cups/cups-files.conf"
    regexp: '^(SystemGroup lpadmin)$'
    replace: '\1 root'

- name: enable splash screen
  replace:
    dest: "/etc/default/grub"
    regexp: '"quiet"$'
    replace: '"quiet splash"'
  notify: update grub
