include "/etc/bind/rndc.key";

zone "{{ ipaddr_lan_ptr[:-1] }}" {
        type master;
        notify no;
        file "/etc/bind/db.{{ ipaddr_lan_threeoct }}";
        journal "/var/lib/bind/db.{{ ipaddr_lan_threeoct }}.jnl";
        allow-update { key rndc-key; };
};

zone "intern" {
        type master;
        notify no;
        file "/etc/bind/db.intern";
        journal "/var/lib/bind/db.intern.jnl";
        allow-update { key rndc-key; };
};
