zone "0.168.192.in-addr.arpa" {
        type master;
        notify no;
        file "/etc/bind/db.192.168.0";
        journal "/var/lib/bind/db.192.168.0.jnl";
};

zone "intern" {
        type master;
        notify no;
        file "/etc/bind/db.intern";
        journal "/var/lib/bind/db.intern.jnl";
};
